body {
  background-color: rgb(89, 89, 238);
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navigation{
grid-column: 1/3;
}

.hero{
grid-column: 1/3;

}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__header{
text-align: center;
}

.transform-brand-egg{
grid-column: 2/3;
}

.transform-brand-text{
  grid-column: 1/2;
  grid-row: 3/4;
}

.information-header{

}

.information-header--green{

}

.information-header--blue{

}

.description{

}

.description--green{

}

.description--blue{

}

.learn-more{

}

.stand-out-glass{

}

.stand-out-text{
}

.graphic-design{
}

.photography{
}

.testimonials{
grid-column: 1/3; 
}

.testimonials-header{
  
}

.testimonial{
  
}

.testimonial__photo{

}

.testimonial__description{

}

.testimonial__person{

}

.testimonial__position{

}

.gallery{
  grid-column: 1/3; 

}

.footer{
  grid-column: 1/3; 
}



















/* 
Layout:
The designs were created to the following widths:
Mobile: 375px
Desktop: 1440px

Colors
Soft red: hsl(7, 99%, 70%)
Yellow: hsl(51, 100%, 49%)
Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
Dark blue (photography text): hsl(198, 62%, 26%)
Dark moderate cyan (footer): hsl(168, 34%, 41%)
Neutral
Very dark desaturated blue: hsl(212, 27%, 19%)
Very dark grayish blue: hsl(213, 9%, 39%)
Dark grayish blue: hsl(232, 10%, 55%)
Grayish blue: hsl(210, 4%, 67%)
White: hsl(0, 0%, 100%)

Typography:
Body Copy
Font size: 18px
Font
Family: Barlow https://fonts.google.com/specimen/Barlow
Weights: 600
Family: Fraunces https://fonts.google.com/specimen/Fraunces
Weights: 700, 900

Icons
We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:
Font Awesome https://fontawesome.com/
IcoMoon https://icomoon.io/
Ionicons https://ionic.io/ionicons






*/
