body {
  background-color: white;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}
/*784
590
762
440
345*/

.hero {
  grid-column: 1/3;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 800px;
}

.navigation {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  margin-left: 1vh;
  margin-right: 1vh;
  align-items: center;
  min-height: 4vh;
}

.nav-links{
display: flex;
justify-content: space-between;
width: 50%;
}

.nav-links a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 1.5rem;
}

.burger{
  display: none;
}

@media screen and (max-width: 936px){
  body{
    overflow-x: hidden;
  }
  .navigation{
    justify-content: space-between;
    margin-left: 1vh;
    margin-right: 1vh;
  }
  .nav-links{
    position: absolute;
    right: 5%;
    left: 5%;
    height: 12vh;
    top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: white; 
    
    transform: translateX(120%);
  }
  .nav-links li a{
    color: grey;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
  .nav-active{
    transform: translateX(0%);
  }
}



.transform-brand-egg {
  grid-column: 2/3;
  background-image: url(../images/desktop/image-transform.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.transform-brand-text {
  grid-column: 1/2;
  grid-row: 2/3;
}

.information-header {
}

.information-header--green {
}

.information-header--blue {
}

.description {
}

.description--green {
}

.description--blue {
}

.learn-more {
}

.stand-out-glass {
  background-image: url(../images/desktop/image-stand-out.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.stand-out-glass img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.stand-out-text {
}

.graphic-design {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 600px;
}


.photography {
  background-image: url(../images/desktop/image-photography.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 600px;
}


.testimonials {
  grid-column: 1/3;
  display: flex; 
  min-height: 600px;
}

.testimonials-header {
}

.testimonial {
}

.testimonial__photo {
}

.testimonial__description {
}

.testimonial__person {
}

.testimonial__position {
}

.gallery {
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  grid-column: 1/3;
}

/* 
Layout:
The designs were created to the following widths:
Mobile: 375px
Desktop: 1440px

Colors
Soft red: hsl(7, 99%, 70%)
Yellow: hsl(51, 100%, 49%)
Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
Dark blue (photography text): hsl(198, 62%, 26%)
Dark moderate cyan (footer): hsl(168, 34%, 41%)
Neutral
Very dark desaturated blue: hsl(212, 27%, 19%)
Very dark grayish blue: hsl(213, 9%, 39%)
Dark grayish blue: hsl(232, 10%, 55%)
Grayish blue: hsl(210, 4%, 67%)
White: hsl(0, 0%, 100%)

Typography:
Body Copy
Font size: 18px
Font
Family: Barlow https://fonts.google.com/specimen/Barlow
Weights: 600
Family: Fraunces https://fonts.google.com/specimen/Fraunces
Weights: 700, 900

Icons
We provide the required social icons. But, if you prefer, you can use a font icon library. Some suggestions can be found below:
Font Awesome https://fontawesome.com/
IcoMoon https://icomoon.io/
Ionicons https://ionic.io/ionicons






*/
